* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Monserat", sans-serif;
  line-height: 1.6;
  color: black;
  background: linear-gradient(135deg, #21151f 10%, #d227a4 50%, #100d0f 100%);
}
html,
body {
  overflow: auto;
  scrollbar-width: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

*/ .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header and Navigation */

header {
  background: #681468;
  color: white;
  padding: 1.5em 0;
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);
  transition: background-color 0.4s;
}

header.active {
  background-color: #ab7839;
}

header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin: 0 10px;
}

.nav-links li a:hover {
  color: #dd8519;
}

#hero {
  color: white;
  height: 100vh;
  background-size: cover;
  align-items: center;
  display: flex;
  text-align: center;
  padding: 4rem 0;
}

#hero h2 {
  font-size: 2em;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

#hero h2 span {
  font-weight: 700;
  color: #dd8519;
}

#hero p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

#hero p span {
  font-size: 18px;
  font-weight: bold;
}

.btn {
  display: inline-block;
  background-color: #681468;
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 10px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #560339;
  color: #dd8519;
}

/* Projects Section */
#projects {
  padding: 2.5rem 1.25rem;
  color: white;
}

#projects p {
  padding: 20px;
  text-align: center;
}
#projects p a {
  background-color: rgb(19, 2, 2);
  padding: 0.25rem;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(231, 213, 213);
}
#projects h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
#project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.project-item {
  background: #ab7839;
  opacity: none;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 18.75rem;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.project-item h3 {
  margin: 0.625rem 0;
  font-size: 1rem;
  color: rgb(235, 235, 235);
}
.project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.project-item p {
  font-size: 14px;
}
.project-item a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background: #333;
  color: rgb(236, 226, 226);
  text-decoration: none;
  border-radius: 5px;
}

.hidden {
  opacity: 0;
  transform: translate(20px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in {
  animation: fadeIn 0.6s ease-out forwards;
}

.btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #681468;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-decoration: none;
  color: white;
}

.btn1:hover {
  background-color: #560339;
  color: #dd8519;
}

/* Skills Section */

#skills {
  padding: 2.5rem 0;
  color: white;
  text-align: center;
}

#skills h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.skills-list li {
  background-color: #ab7839;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 3rem;
}

/* Contact Section */
#contact {
  padding: 2rem 0;
  text-align: center;
  color: white;
}

#contact h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
}

#contact p {
  margin-bottom: 2rem;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#contact button {
  border: none;
  cursor: pointer;
  padding: 0.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* Footer */
footer {
  background-color: #681468;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

/* horizontal line */
hr {
  height: 2px;
  background-color: darkgrey;
  border: none;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

/* Scroll to Top button */
.scroll-to-top {
  background-color: #21151f;
  display: inline;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 10px 10px;
  color: #ddd;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-to-top:hover {
  background-color: #785121;
}

/* Dark Mode Toggle Button */

.input {
  visibility: hidden;
}

.label {
  position: absolute;
  width: 60px;
  height: 20px;
  top: 10px;
  right: 10px;
  background-color: gray;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.4s linear;
}

.circle {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 3px;
  background-color: white;
  border-radius: 50%;
  animation: toggleOff 0.4s linear forwards;
}

.input:checked + .label {
  background-color: #ecedea;
}

input:checked + .label .circle {
  animation: toggleOn 0.4s linear forwards;
  background-color: #100d0f;
}
nav .ri-menu-line {
  font-size: 1.6vw;
  font-weight: 600;
  display: none;
}

@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(40px);
  }
}

@keyframes toggleOff {
  0% {
    transform: translateX(40px);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 600px) {
  nav .ri-menu-line {
    display: initial;
    font-size: 6vw;
    font-weight: 600;
    cursor: pointer;
  }
  nav ul {
    position: absolute;
    top: 90px;
    left: 90;
    right: 0;
    flex-direction: column;
    text-align: right;
    height: 100vh;
    width: 50%;
    background-color: rgb(103, 20, 103);
    overflow: hidden;
  }
  nav ul li {
    padding: 2vw;
  }
  .label {
    position: absolute;
    width: 60px;
    height: 20px;
    top: 10px;
    right: 80vw;
    background-color: gray;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.4s linear;
  }
}
